In [1]:
import numpy as np
import sys
np.set_printoptions(threshold=sys.maxsize)
import pandas as pd
pd.options.display.max_rows
import os
import folium
from folium.plugins import FastMarkerCluster
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from matplotlib import rcParams
rcParams['font.family'] = 'sans-serif'
rcParams['font.sans-serif'] = ['Tahoma']

In [2]:
url ='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_death = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
url_recovery = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
#df_con = pd.read_csv(url, error_bad_lines=False)
df_con = pd.read_csv(url, error_bad_lines=False)

#print(df_con.columns)

# here I added some extra rows which were missing from the database of url
row_data1 = [{'Province/State':'','Country/Region':'Somaliland', 'Lat':9.4117, 'Long':46.8253, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]

row_data2 = [{'Province/State':'','Country/Region':'Libya', 'Lat':26.3351, 'Long':17.2283, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]

row_data3 = [{'Province/State':'','Country/Region':'Myanmar', 'Lat':21.9162, 'Long':95.9560, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]

row_data4 = [{'Province/State':'','Country/Region':'Yemen', 'Lat':15.5527, 'Long':48.5164, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]

row_data5 = [{'Province/State':'','Country/Region':'Greenland', 'Lat':71.7069, 'Long':42.6043, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]


row_data6 = [{'Province/State':'','Country/Region':'Mali', 'Lat':17.5707, 'Long':3.9962, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]

row_data7 = [{'Province/State':'','Country/Region':'Mozambique', 'Lat':18.6657, 'Long':35.5296, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]

row_data8 = [{'Province/State':'','Country/Region':'Syria', 'Lat':34.8021, 'Long':38.9968, 
        '1/22/20':0, '1/23/20':0,
       '1/24/20':0, '1/25/20':0, '1/26/20':0, '1/27/20':0, '1/28/20':0, '1/29/20':0,
       '1/30/20':0, '1/31/20':0, '2/1/20':0, '2/2/20':0, '2/3/20':0, '2/4/20':0, '2/5/20':0,
       '2/6/20':0, '2/7/20':0, '2/8/20':0, '2/9/20':0, '2/10/20':0, '2/11/20':0, '2/12/20':0,
       '2/13/20':0, '2/14/20':0, '2/15/20':0, '2/16/20':0, '2/17/20':0, '2/18/20':0,
       '2/19/20':0, '2/20/20':0, '2/21/20':0, '2/22/20':0, '2/23/20':0, '2/24/20':0,
       '2/25/20':0, '2/26/20':0, '2/27/20':0, '2/28/20':0, '2/29/20':0, '3/1/20':0,
       '3/2/20':0, '3/3/20':0, '3/4/20':0, '3/5/20':0, '3/6/20':0, '3/7/20':0, '3/8/20':0,
       '3/9/20':0, '3/10/20':0, '3/11/20':0, '3/12/20':0, '3/13/20':0, '3/14/20':0}]



      
#       '3/15/20':0, '3/16/20':0, '3/17/20':0, '3/18/20':0, '3/19/20':0, '3/20/20':0,
#       '3/21/20':0}]
#row_value = ['','Somaliland',41.3775,64.5853,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
           #  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1] 

df_con = df_con.append(row_data1,ignore_index=True,sort=False)
df_con = df_con.append(row_data2,ignore_index=True,sort=False)
df_con = df_con.append(row_data3,ignore_index=True,sort=False)
df_con = df_con.append(row_data4,ignore_index=True,sort=False)
df_con = df_con.append(row_data5,ignore_index=True,sort=False)
df_con = df_con.append(row_data6,ignore_index=True,sort=False)
df_con = df_con.append(row_data7,ignore_index=True,sort=False)
df_con = df_con.append(row_data8,ignore_index=True,sort=False)







print(df_con.tail(n=1))
   
#df_con.loc[i] = ['name' + str(i)] + list(randint(10, size=2))

df_con.drop(df_con.index[[1,2,3]])

date = df_con.columns[4:]
#print(date)
#print(df_con)


df_confine = df_con.groupby('Country/Region')[date].sum()


pd.set_option('display.max_rows', df_confine.shape[0]+1)
df_confineT = df_confine.T

sort_df_confineT = df_confineT.sort_values(by=df_confineT.index[-1],axis=1,ascending=False)



sort_df_confineT_20=sort_df_confineT.iloc[:, : ]
label_sort_df_confineT_20 = sort_df_confineT_20.columns
value_sort_df_confineT_20 = sort_df_confineT_20.tail(n=1)

print(label_sort_df_confineT_20)

#first_column = value_sort_df_confineT_20.iloc[:, 0]
first_column = value_sort_df_confineT_20.index[0]

    Province/State Country/Region      Lat     Long  1/22/20  1/23/20  \
260                         Syria  34.8021  38.9968        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  ...  3/19/20  3/20/20  3/21/20  \
260        0        0        0        0  ...      NaN      NaN      NaN

     3/22/20  3/23/20  3/24/20  3/25/20  3/26/20  3/27/20  3/28/20
260      NaN      NaN      NaN      NaN      NaN      NaN      NaN

[1 rows x 71 columns]
Index(['US', 'Italy', 'China', 'Spain', 'Germany', 'France', 'Iran',
       'United Kingdom', 'Switzerland', 'Netherlands',
       ...
       'Belize', 'Guinea-Bissau', 'Saint Kitts and Nevis', 'Papua New Guinea',
       'Timor-Leste', 'Saint Vincent and the Grenadines', 'Myanmar', 'Yemen',
       'Greenland', 'Somaliland'],
      dtype='object', name='Country/Region', length=181)

In [3]:
#dfs = pd.read_csv('../input/suicide-rates-overview-1985-to-2016/master.csv')  # suicide rates dataset
dfs = pd.read_csv('master.csv')  # suicide rates dataset
dfs = dfs[dfs['year'] == 2013]
dfs = dfs[['country','year','suicides/100k pop']].groupby('country').sum()
dfs.reset_index(inplace=True)

#  update names to match names in geoJSON file
dfs.replace({
        'United States':'United States of America',
        'Republic of Korea':'South Korea',
        'Russian Federation':'Russia'},
        inplace=True)

dfs.head(n=150)

                         country   year  suicides/100k pop
0            Antigua and Barbuda  24156               0.00
1                      Argentina  24156             103.42
2                        Armenia  24156              37.48
3                      Australia  24156             138.78
4                        Austria  24156             212.12
5                        Bahamas  24156              13.91
6                        Bahrain  24156               2.49
7                       Barbados  24156               0.00
8                        Belarus  24156             273.32
9                        Belgium  24156             201.55
10                        Belize  24156              56.40
11                        Brazil  24156              73.41
12                      Bulgaria  24156             134.16
13                        Canada  24156             133.09
14                         Chile  24156             134.52
15                      Colombia  24156              63.53
16                    Costa Rica  24156              89.26
17                       Croatia  24156             210.30
18                          Cuba  24156             190.46
19                        Cyprus  24156              64.61
20                Czech Republic  24156             186.07
21                       Denmark  24156             134.55
22                       Ecuador  24156              62.88
23                   El Salvador  24156             116.06
24                       Estonia  24156             231.92
25                       Finland  24156             196.83
26                        France  24156             192.33
27                       Georgia  24156              55.57
28                       Germany  24156             153.08
29                        Greece  24156              55.11
30                       Grenada  24156               0.00
31                     Guatemala  24156              40.69
32                        Guyana  24156             356.38
33                       Hungary  24156             266.23
34                       Iceland  24156             221.24
35                       Ireland  24156             117.41
36                        Israel  24156              74.21
37                         Italy  24156              84.86
38                         Japan  24156             231.16
39                    Kazakhstan  24156             296.67
40                        Kuwait  24156               9.88
41                    Kyrgyzstan  24156             109.84
42                        Latvia  24156             242.19
43                     Lithuania  24156             444.56
44                    Luxembourg  24156              91.48
45                         Malta  24156              57.22
46                     Mauritius  24156              97.67
47                        Mexico  24156              64.99
48                   Netherlands  24156             125.53
49                   New Zealand  24156             144.55
50                     Nicaragua  24156              80.97
51                        Norway  24156             127.01
52                        Panama  24156              49.31
53                      Paraguay  24156              75.39
54                        Poland  24156             187.59
55                      Portugal  24156             132.73
56                   Puerto Rico  24156              90.59
57                         Qatar  24156               8.23
58                   South Korea  24156             428.57
59                       Romania  24156             137.99
60                        Russia  24156             273.97
61                   Saint Lucia  24156             114.10
62  Saint Vincent and Grenadines  24156               0.00
63                        Serbia  24156             217.73
64                    Seychelles  24156             131.40
65                     Singapore  24156             137.87
66                      Slovakia  24156             143.91
67                      Slovenia  24156             283.02
68                  South Africa  24156              14.90
69                         Spain  24156             101.32
70                      Suriname  24156             286.80
71                        Sweden  24156             158.20
72                   Switzerland  24156             170.26
73                      Thailand  24156              79.56
74                        Turkey  24156              35.42
75                  Turkmenistan  24156              23.29
76                United Kingdom  24156              84.92
77      United States of America  24156             166.67
78                       Uruguay  24156             249.09
79                    Uzbekistan  24156              78.86

In [4]:
world_geo = os.path.join('./', 'world-countries.json')
world_geo
print(world_geo)

./world-countries.json

In [5]:
#world_choropelth = folium.Map(location=[0, 0], tiles='Mapbox Bright',zoom_start=1)

#world_choropelth.choropleth(
#    geo_data=world_geo,
#    data=dfs,
#    columns=['country','suicides/100k pop'],
#    key_on='feature.properties.name',
#    fill_color='YlOrRd',
#    fill_opacity=0.7, 
#    line_opacity=0.2,
#    legend_name='Suicide rates per 100k Population - 2013')

#folium.LayerControl().add_to(world_choropelth)
# display map
#world_choropelth

In [ ]:
df=pd.read_csv('countries.csv', error_bad_lines=False)


prod = pd.DataFrame({'latitude': [], 'longitude': [], 'country': [],'Number of cases':[]})

#print(df)
for i in range(0,len(df)):
    for ii in range(0,len(label_sort_df_confineT_20)):
        if(df.iloc[i]['name']==value_sort_df_confineT_20.columns[ii]):
           # print(df.iloc[i]['latitude'],df.iloc[i]['longitude'],df.iloc[i]['name'],value_sort_df_confineT_20.iloc[0][value_sort_df_confineT_20.columns[ii]])
            prod = prod.append({'latitude': df.iloc[i]['latitude'], 'longitude' : df.iloc[i]['longitude'], 'country' : df.iloc[i]['name'],'Number of cases' :value_sort_df_confineT_20.iloc[0][value_sort_df_confineT_20.columns[ii]]},ignore_index=True)
print(world_geo)
print(prod)            

prod.replace({
        'US':'United States of America'},
        inplace=True)
       


#3/20/20
import datetime
date=datetime.datetime.strptime(first_column, '%m/%d/%y').strftime('%d-%m-%y')

print(date)

#m1 = folium.Map(location=[0, 0], zoom_start=1)
m1 = folium.Map(location=[0, 0], zoom_start=1)

#print(state_data)
folium.Choropleth(
    geo_data=world_geo,
    name='choropleth',
    data=prod,
    columns=['country','Number of cases'],
    key_on='feature.properties.name',
    #fill_color='YlGn',
    fill_color='PRGn',
    fill_opacity=0.8,
    line_opacity=0.5,
    legend_name='Number of confirmed cases'
).add_to(m1)

folium.LayerControl().add_to(m1)

m1.save(date+'goolge_confirmed.html')
m1